.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.display {
  grid-column: 1 / span 4;
  background-color: #fff;
  color: black;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.button.function {
  background-color: #f2f2f2;
  font-weight: bold;
}

.button.equals {
  background-color: #034d93;
  color: white;
  grid-column: span 2;
}

.button.delete {
  background-color: rgb(188, 188, 255);

}